!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title Built In UChicago
      %link{:href => "/stylesheets/application.css", :rel => "stylesheet"}
        /[if IE]
          <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      %link{:href => "//identity.uchicago.edu/c/fonts/proximanova.css", :rel => "stylesheet"}
      = javascript_include_tag "jquery-1.10.2.min.js"
      = javascript_include_tag "application.js"

  %body
    %header.l-header{:role => "banner"}
      .l-banner
        %h1 Built In UChicago
        %h2 Think. Design. Code. Do.
    = yield


