.l-wrapper.aerial_view
  %article.feature
    %h2 What is Built In UChicago?
    %p
      %span.maroon  
        Built In UChicago (BIUC) 
      is an exclusive new program launching in Fall 2013 under the direction of UChicago Careers in Entrepreneurship. BIUC aims to connect students with backgrounds in user experience, design, code, and engineering to create campus community for students with complementary skillsets to collaborate with each other to build student-led projects.
      %a.about-link{:href => "#about"} 
        Learn more →


.l-wrapper.paper#about
  
  .l-container
    %h2 Formulate
    %ul
      %li Plan out your idea with the latest in entrepreneurial thinking
      %li Conduct market research and evaluate your value proposition to potential users
      %li Learn from seasoned entrepreneurs and professors at the world-renown UChicago Booth School of Business
      %li
        Then
        %a.about-link{:href => "#build"} 
          make it happen →
    = image "lecture"

.l-wrapper.notebook#build
  
  .l-container
    %h2 Design/Code/Build
    %ul
      %li 
        Join a community of technically-skilled and entrepreneurial-minded students ready to collaborate in teams to build out their ideas
      %li
        Don't have technical skills but want to learn? BIUC provides resources and mentorship to members learning technical skills.
      %li 
        Once you've started building your idea, start thinking about the 
        %a.about-link{:href => "#impact"} 
          bigger picture →

    = image "hack"

.l-wrapper.booth_ceiling#impact
  
  %article.feature
    %h2 Make An Impact
    %p
      Think your idea could be a business? Get expert advice from winners of national entrepreneurship competitions and enter your team into the
      %a{:href => "https://careeradvancement.uchicago.edu/entrepreneurship/innovation-competitions", target: "_blank"}
        College New Venture Challenge
      for the opportunity to win $10,000 to get your company going. 

    %p
      Ready to start? 
      %a{:href => "https://docs.google.com/forms/d/1MqsbAdaOIgUu230Ks33k1VMfidp7zv2P9t5zhfxmE0Q/viewform", target: "_blank"} Click here to apply now!

  %footer.l-footer
    %h4 
      © 2013 Built in UChicago | Website Designed & Coded by
      %a{:href => "http://www.danielyu.me", target: "_blank"} 
        Daniel Yu


