.aside
  float: left
  max-width: 50%
  margin-left: 5%
.feature
  position: relative
  width: 80%
  margin: 0 auto 0 auto
  background: rgba(255,255,255,0.8)
  top: 300px
  +box-shadow(0 0 10px #000)

  h2
    text-align: center
    padding: 0.5em 0
    margin: 0
    color: $maroon

.winter-garden
  position: absolute
  top: 0
  right: 0
  height: 100%
  width: auto